* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to left, rgb(114, 91, 227), rgb(228, 226, 81));
  text-align: center;
}
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* Styling the tab */
.tab {
  float: left;
  width: 20%;
  height: 300px;
  margin-top: -12px;
}
 
/* Styling the tab buttons*/
.tab button {
  display: block;
  color: black;
  padding: 18px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.5s ease-in;
  font-size: 17px;
  margin: 15px;
}
 
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(91, 161, 227);
 
}
 
/* Create an active/current "tab button" class */
.tab button.active {
  background-color: rgb(88, 88, 88);
  color: white;
}
 
/* Styling the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid rgb(88, 88, 88);
  background: whitesmoke;
  width: 70%;
  height: 100%;
  margin-left: 40px;
  animation: blinker 0.6s linear;
}
 
/* animation effects */
@keyframes blinker {  
    10% { opacity: 0; } 
    100% { opacity: 1; }
}
 
img {
  height: 25em;
  width: 50em;
  object-fit: contain;
 }

 .search {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #f1a458;
  border-radius: 60px;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  box-shadow:#f1a458;
  overflow: hidden
 }
 .search.active {
  width: 60px;
 }

 .search .icon {
  position: relative;
  top: 0px;
  bottom: 0px;
  width: 60px;
  height: 60px;
  background: #f1a458;
  border-radius: 60px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  z-index: 100;;
  cursor: pointer;
 }

 .search .icon::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid blue;
  border-radius: 50%;
  transform: translate(-4px, -4px);
 }
 .search .icon::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 12px;
  background: blue;
  transform: translate(6px, 6px) rotate(315deg);
 }

 .search.input{
  position: relative;
  width: 300px;
  height: 60px;
  left: 60px;
  display: flex;
  justify-items: center;
  align-items: center;

 }
 .search.input input {
  position: absolute;
  top: 0cm;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 0;
 }


form {
  width: 450px;
  margin: 0 auto 50px auto;
}

textarea {
  display: block;
  width: 100%;
  height: 100px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

form button[type="submit"] {
  border: none;
  font-size: 16px;
  font-weight: 60;
  text-transform: uppercase;
  background-color: #f1a458;
  color: #fff;
  padding: 7px 10px;
  cursor: pointer;
}




